<div style="font-family:
              'Franklin Gothic Medium',
              'Arial Narrow',
              Arial,
              sans-serif;
            font-size: 16px;
            line-height: 1.6;
            color: #222;">
  {{{ body }}}
  {{> footer }}
</div>
