<strong>Hi, {{ courier }}</strong>
<p>You have been assigned to a new delivery. See details below:</p>
<p>
  <strong>Recipient: </strong> {{ recipient }} <br />
  <strong>Product: </strong> {{ product }} <br />
</p>
